<div class="card saas-card">
    <div class="row text-center">
        <div class="col-lg-2">
        <div id="head1">
        <select id='gMonth1' class="btn btn-light">
            <option value=''>--Select Month--</option>
            <option selected value='1'>Janaury</option>
            <option value='2'>February</option>
            <option value='3'>March</option>
            <option value='4'>April</option>
            <option value='5'>May</option>
            <option value='6'>June</option>
            <option value='7'>July</option>
            <option value='8'>August</option>
            <option value='9'>September</option>
            <option value='10'>October</option>
            <option value='11'>November</option>
            <option value='12'>December</option>
        </select> 
    </div>
    </div>
    <div class="col-lg-2"> 
        <div class="btn-group" role="group" aria-label="Button-group">
            <button type="button" class="btn btn-secondary">All</button>
            <button type="button" class="btn btn-secondary">Todays</button>
        </div>
    </div>
    <div class="col-lg-2">
      <div id="head1">
      <select id='gMonth1' class="btn btn-light">
          <option selected value=''>--Select Table--</option>
          <option value='1'>Table 1</option>
          <option value='2'>Table 2</option>
          <option value='3'>Table 3</option>
      </select> 
  </div>
  </div>
    <div class="col-lg-2"> 
        <input placeholder="From Date" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
    </div>
    <div class="col-lg-2">
        <input placeholder="To Date" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
    </div>
    <div class="col-lg-2"> 
        <div class="d-flex justify-content-between">
            <button type="button" class="btn saas-button">To Excel</button>
            <button type="button" class="btn saas-button">To PDF</button>
        </div>
    </div>
    </div>
</div>

<div class="saas-back">
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Bill No.</th>
            <th>Table</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Discount</th>
            <th>Tax</th>
            <th>Order Type</th>
            <th>Payment</th>
            <th>Customer</th>
            <th>Status</th>
            <th>Employee ID</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>1</td>
            <td>3 </td>
            <td>02/10/2020 </td>
            <td>$1.38</td>
            <td>-2.01</td>
            <td>5%</td>
            <td>Dine in</td>
            <td>Cash</td>
            <td>Anwaar</td>
            <td>Fullfiled</td>
            <td>685424</td>
          </tr>
          <tr>
            <td>1</td>
            <td>3 </td>
            <td>02/10/2020 </td>
            <td>$1.38</td>
            <td>-2.01</td>
            <td>5%</td>
            <td>Dine in</td>
            <td>Cash</td>
            <td>Anwaar</td>
            <td>Fullfiled</td>
            <td>685424</td>
          </tr>
          <tr>
            <td>1</td>
            <td>3 </td>
            <td>02/10/2020 </td>
            <td>$1.38</td>
            <td>-2.01</td>
            <td>5%</td>
            <td>Dine in</td>
            <td>Cash</td>
            <td>Anwaar</td>
            <td>Fullfiled</td>
            <td>685424</td>
          </tr>
          <tr>
            <td>1</td>
            <td>3 </td>
            <td>02/10/2020 </td>
            <td>$1.38</td>
            <td>-2.01</td>
            <td>5%</td>
            <td>Dine in</td>
            <td>Cash</td>
            <td>Anwaar</td>
            <td>Fullfiled</td>
            <td>685424</td>
          </tr>
          <tr>
            <td>1</td>
            <td>3 </td>
            <td>02/10/2020 </td>
            <td>$1.38</td>
            <td>-2.01</td>
            <td>5%</td>
            <td>Dine in</td>
            <td>Cash</td>
            <td>Anwaar</td>
            <td>Fullfiled</td>
            <td>685424</td>
          </tr>
          <tr>
            <td>1</td>
            <td>3 </td>
            <td>02/10/2020 </td>
            <td>$1.38</td>
            <td>-2.01</td>
            <td>5%</td>
            <td>Dine in</td>
            <td>Cash</td>
            <td>Anwaar</td>
            <td>Fullfiled</td>
            <td>685424</td>
          </tr>
          <tr>
            <td>1</td>
            <td>3 </td>
            <td>02/10/2020 </td>
            <td>$1.38</td>
            <td>-2.01</td>
            <td>5%</td>
            <td>Dine in</td>
            <td>Cash</td>
            <td>Anwaar</td>
            <td>Fullfiled</td>
            <td>685424</td>
          </tr>
          <tr>
            <td>1</td>
            <td>3 </td>
            <td>02/10/2020 </td>
            <td>$1.38</td>
            <td>-2.01</td>
            <td>5%</td>
            <td>Dine in</td>
            <td>Cash</td>
            <td>Anwaar</td>
            <td>Fullfiled</td>
            <td>685424</td>
          </tr>
          <tr>
            <td>1</td>
            <td>3 </td>
            <td>02/10/2020 </td>
            <td>$1.38</td>
            <td>-2.01</td>
            <td>5%</td>
            <td>Dine in</td>
            <td>Cash</td>
            <td>Anwaar</td>
            <td>Fullfiled</td>
            <td>685424</td>
          </tr>
          <tr>
            <td>1</td>
            <td>3 </td>
            <td>02/10/2020 </td>
            <td>$1.38</td>
            <td>-2.01</td>
            <td>5%</td>
            <td>Dine in</td>
            <td>Cash</td>
            <td>Anwaar</td>
            <td>Fullfiled</td>
            <td>685424</td>
          </tr>
          <tr>
            <td>1</td>
            <td>3 </td>
            <td>02/10/2020 </td>
            <td>$1.38</td>
            <td>-2.01</td>
            <td>5%</td>
            <td>Dine in</td>
            <td>Cash</td>
            <td>Anwaar</td>
            <td>Fullfiled</td>
            <td>685424</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card text-center saas-card">
            <label>Bill Number  :   1</label>
            <label>Table Number :   3</label>
            <label>Total Bills  :   15</label>
            <button class="btn btn-danger btn-block">Delete All Bills</button>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="saas-table">
            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Amount</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-sub-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td>Biryani FP</td>
                    <td>3 </td>
                    <td>$5</td>
                    <td>$15</td>
                  </tr>
                  <tr>
                    <td>butter chicken F</td>
                    <td>2 </td>
                    <td>$2</td>
                    <td>$4</td>
                  </tr>
                  <tr>
                    <td>butter chicken F</td>
                    <td>2 </td>
                    <td>$2</td>
                    <td>$4</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
          <div><button class="btn btn-warning">Clear Selections</button></div>
        <div>
            <input type="checkbox" id="modify">
            <label for="modify">Modify Bill Tax And Discount</label>
        </div>
        <div>
            <input type="checkbox" id="showcd">
            <label for="showcd">Show Customer Details on bill</label> &nbsp;
            <input type="checkbox" id="sendbill">
            <label for="sendbill">Send Bill</label>
        </div>
        <div class="justify-content-between btn-primary btn d-flex">
            <label>Grand Total: </label>
            <label>$55</label>
        </div>
        <div class="text-center justify-content-between d-flex">
            <button class="btn btn-primary">Payment</button>
            <button class="btn btn-info">save</button>
            <button class="btn btn-info">save & Print</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        </div>
    </div>
    
</div>