<div class="card p-3" [class.dark-card]='topBar.selectedTheme'>
    <div class="row text-center">
        <div class="col-lg-2">
        <div id="head1">
        <select matNativeControl [(ngModel)]="dateSearch" class="btn btn-light">
            <option selected value='0'>--Select Month--</option>
            <option *ngFor="let month of month" value={{month.value}}>{{month.value}}</option>
        </select>
    </div>
    </div>
    <div class="col-lg-2">
        <div class="btn-group" role="group" aria-label="Button-group">
            <button type="button" class="btn btn-secondary" (click)="getAll()">All</button>
            <button type="button" class="btn btn-secondary" (click)="getTodayDate()">Todays</button>
        </div>
    </div>
    <div class="col-lg-4">
      <li class="d-none d-sm-block">
        <div class="app-search">
          <form>
            <div class="input-group">
              <input type="text" class="form-control" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search...">
              <i [attr.data-feather]="'search'" appFeatherIcon></i>
            </div>
          </form>
        </div>
      </li>
    </div>
    <div class="col-lg-2">
    </div>
    <div class="col-lg-2">
        <div class="d-flex justify-content-between">
            <button type="button" class="btn saas-button" (click)="excelBtnOnClick()">To Excel</button>
            <button type="button" class="btn saas-button" (click)="pdfBtnOnClick()">To PDF</button>
        </div>
    </div>
    </div>
</div>
<div class="card" [class.dark-card]='topBar.selectedTheme'>
<div class="card-body">
  <ag-grid-angular
  class="sa-ag-grid-sizs ag-column-resizing ag-cell-auto-height ag-layout-auto-height ag-filter-loading"
  [class.ag-theme-balham]='!topBar.selectedTheme'
  [class.ag-theme-balham-dark]='topBar.selectedTheme'
  [rowData]="filteredReceipts"
  [columnDefs]="columnsAg"
  rowSelection='single'
  (rowClicked)="onRowClicked($event)"
  (gridReady)="onGridReady($event)">
  </ag-grid-angular>
  <!-- <mat-card *ngFor="let receipt of filteredReceipts">
    <mat-card-header>
      {{receipt.customer}}
    </mat-card-header>
    <mat-card-content>
      bill # : {{receipt.billno}}
      <h6 *ngFor="let bill of receipt.billDetail">{{bill.Iname}}</h6>
      Amount : {{receipt.amount}}
      Date : {{receipt.date}}
    </mat-card-content>
  </mat-card> -->
  <span id="selectedRows"></span>
</div>
</div>


<div class="row">
    <div class="col-lg-4">
        <div class="card text-center saas-card">
            <label>Bill Number  : {{orderService.receiptsData.length | number}}</label>
            <label>Total Bills  : {{totalPrice | currency:"INR"}}</label>
            <button class="btn btn-danger btn-block" (click)="deleteBill(pass)">Delete All Bills</button>
        </div>
    </div>
    <div class="col-lg-4">
      Bill # : <span>{{billNo}}</span>
        <ag-grid-angular class="sa-ag-grid-afsizs ag-column-resizing ag-cell-auto-height ag-layout-auto-height ag-filter-loading"
          [class.ag-theme-balham]='!topBar.selectedTheme'(gridReady)="onGridReady($event)" [class.ag-theme-balham-dark]='topBar.selectedTheme'
          [rowData]="afRowData" [columnDefs]="columnsAf" rowSelection='single' (selectionChanged)="onSelectionChanged()">
        </ag-grid-angular>
    </div>
    <!-- <div class="col-lg-4">
      Bill # : <span>{{billNo}}</span>
        <ag-grid-angular
          class="sa-ag-grid-afsizs ag-column-resizing ag-cell-auto-height ag-layout-auto-height ag-filter-loading"
          [class.ag-theme-balham]='!topBar.selectedTheme'
          [class.ag-theme-balham-dark]='topBar.selectedTheme' [rowData]="orderService.customerData" [columnDefs]="columnsAfCus"
          rowSelection='single'>
        </ag-grid-angular>
    </div> -->
    <div class="col-lg-4">
        <div class="card p-2">
        <div>
          <mat-checkbox class="m-1" color="primary">Modify Bill Tax And Discount</mat-checkbox>
        </div>
        <div>
            <mat-checkbox class="m-1" color="primary" [(ngModel)]="showCustomer">Show Customer Details of bill</mat-checkbox>
            <mat-checkbox class="m-1" color="primary">Send Bill</mat-checkbox>
        </div>
        <div class="justify-content-between btn btn-success d-flex disable">
            <label>Grand Total: </label>
            <label>$55</label>
        </div>
          <div class="btn-group mt-1" role="group" aria-label="Button-group">
            <button class="btn btn-primary">Payment</button>
            <button class="btn btn-primary">save</button>
            <button class="btn btn-primary">save & Print</button>
            <button class="btn btn-danger">Delete</button>
          </div>
            <!-- <button class="btn btn-primary m-1">Payment</button>
            <button class="btn btn-primary m-1">save</button>
            <button class="btn btn-primary m-1">save & Print</button>
            <button class="btn btn-danger m-1">Delete</button> -->
        </div>
    </div>

</div>
<ng-template #pass let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="pass">Admin Pass</label>
      <input type="password" id="pass" (keydown.enter)="modal.close(pass.value)" class="form-control" #pass>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(pass.value)">Save</button>
  </div>
</ng-template>
