<!-- Right Sidebar -->
<div class="right-bar" (clickOutside)="hide()" [excludeBeforeClick]="true" [exclude]="'.right-bar-toggle'" [class.dark-card]='topBar.selectedTheme' [class.text-white]='topBar.selectedTheme'>
  <div class="rightbar-title">
    <a href="javascript:void(0);" class="right-bar-toggle text-danger float-right" (click)="hide();">
      <i data-feather="x-circle" appFeatherIcon></i>
    </a>
    <h5 class="m-0" [class.text-white]='topBar.selectedTheme'>Customization</h5>
  </div>

  <div class="slimscroll-menu" appSlimScroll>

    <h5 class="font-size-16 pl-3 mt-4" [class.text-white]='topBar.selectedTheme'>SWEBAS Setting</h5>
    <div class="p-3">
      <h6 [class.text-white]='topBar.selectedTheme'><span class="material-icons align-middle mr-1" [class.text-white]='topBar.selectedTheme'>
        room_preferences
      </span> Theme Color</h6>
      <div class="d-grid gap-2 d-flex justify-content-between">
        <h5 [class.text-white]='topBar.selectedTheme'>Dark Theme</h5>
        <jqxSwitchButton id="theme" class="text-right" [class.text-white]='topBar.selectedTheme' (onChecked)="changeColor(true)"
         (onUnchecked)="changeColor(false)" [width]='65' [height]='20'>
        </jqxSwitchButton>
      </div>
    </div>
    <div class="px-3 py-1">
      <h6 [class.text-white]='topBar.selectedTheme'>View Mode</h6>
      <div class="d-grid gap-2 d-flex justify-content-between">
        <h5 [class.text-white]='topBar.selectedTheme'>Touce Mode</h5>
        <jqxSwitchButton id="theme" class="text-right" [class.text-white]='topBar.selectedTheme' (onChecked)="changeView(true)" (onUnchecked)="changeView(false)" [width]='65' [height]='20'>
        </jqxSwitchButton>
      </div>
    </div>
    <div class="px-3 py-1">
      <h6 [class.text-white]='topBar.selectedTheme'><span class="material-icons align-middle mr-1" [class.text-white]='topBar.selectedTheme'>
        language
      </span> language</h6>
        <jqxRadioButton [width]="250" [height]="25" [checked]="true">
          <img src="assets/images/flags/us.jpg" alt="user-image" class="mr-2" height="12"> <span
            class="align-middle" [class.text-white]='topBar.selectedTheme'>Engils</span>
        </jqxRadioButton>
        <jqxRadioButton [width]="250" [height]="25">
          <img src="assets/images/flags/germany.jpg" alt="user-image" class="mr-2" height="12"> <span
            class="align-middle" [class.text-white]='topBar.selectedTheme'>German</span>
        </jqxRadioButton>
        <jqxRadioButton [width]="250" [height]="25">
          <img src="assets/images/flags/italy.jpg" alt="user-image" class="mr-2" height="12"> <span
            class="align-middle" [class.text-white]='topBar.selectedTheme'>Italian</span>
        </jqxRadioButton>
        <jqxRadioButton [width]="250" [height]="25">
          <img src="assets/images/flags/spain.jpg" alt="user-image" class="mr-2" height="12"> <span
            class="align-middle" [class.text-white]='topBar.selectedTheme'>Spanish</span>
        </jqxRadioButton>
        <jqxRadioButton [width]="250" [height]="25">
          <img src="assets/images/flags/russia.jpg" alt="user-image" class="mr-2" height="12"> <span
            class="align-middle" [class.text-white]='topBar.selectedTheme'>Russian</span>
        </jqxRadioButton>
    </div>

    <div class="my-5">&nbsp;</div>
  </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>
