<div class="card saas-card text-center">
    <div class="row d-flex justify-content-between">
        <div class="col-lg-2">
            <input type="text" placeholder="Search" class="btn btn-light">
        </div>
    <div class="col-lg-2">
        <div id="head1">
            <select id='gMonth1' class="btn btn-light">
                <option selected value=''>--Select Vender--</option>
                <option value='1'>Vender 1</option>
                <option value='2'>Vender 2</option>
                <option value='3'>Vender 3</option>
            </select> 
        </div>
    </div>
    <div class="col-lg-2">
        <input placeholder="Date" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
    </div>
    <div class="col-lg-2"> 
        <div class="d-flex justify-content-between">
            <button type="button" class="btn saas-button">To Excel</button>
            <button type="button" class="btn saas-button">To PDF</button>
        </div>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <div class="card text-center">
            <div class="list-group">
                <a class="list-group-item list-group-item-action active">
                    Menu
                </a>
                <a class="list-group-item list-group-item-action">Oil</a>
                <a class="list-group-item list-group-item-action">Kitchen essential</a>
                <a class="list-group-item list-group-item-action">Vegetables</a>
                <a class="list-group-item list-group-item-action">Meat</a>
                <a class="list-group-item list-group-item-action">Dairy products</a>
              </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="list-group">
                <a class="list-group-item list-group-item-action active">
                    Oil
                </a>
                <a class="list-group-item list-group-item-action">Peanut oil</a>
                <a class="list-group-item list-group-item-action">Refined oli</a>
                <a class="list-group-item list-group-item-action">etc</a>
              </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="saas-back">
                <div class="tbl-header">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>GST</th>
                        <th>Total Amount</th>
                        <th>Expiry date</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td>Peanut Oil</td>
                            <td>$3</td>
                            <td>50L</td>
                            <td>5%</td>
                            <td>157.5</td>
                            <td>12/09/2021</td>
                          </tr>
                          <tr>
                            <td>Refined Oil</td>
                            <td>$3</td>
                            <td>50L</td>
                            <td>5%</td>
                            <td>157.5</td>
                            <td>12/09/2021</td>
                          </tr>
                          <tr>
                            <td>Peanut Oil</td>
                            <td>$3</td>
                            <td>50L</td>
                            <td>5%</td>
                            <td>157.5</td>
                            <td>12/09/2021</td>
                          </tr>
                          <tr>
                            <td>Refined Oil</td>
                            <td>$3</td>
                            <td>50L</td>
                            <td>5%</td>
                            <td>157.5</td>
                            <td>12/09/2021</td>
                          </tr>
                          <tr>
                            <td>Peanut Oil</td>
                            <td>$3</td>
                            <td>50L</td>
                            <td>5%</td>
                            <td>157.5</td>
                            <td>12/09/2021</td>
                          </tr>
                          <tr>
                            <td>Refined Oil</td>
                            <td>$3</td>
                            <td>50L</td>
                            <td>5%</td>
                            <td>157.5</td>
                            <td>12/09/2021</td>
                          </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div>
        <div class="btn btn-dark d-flex justify-content-between">
            <label>Total Tex:</label>
            <label>$142</label>
        </div>
        <div class="btn btn-dark d-flex justify-content-between">
            <label>Total Price:</label>
            <label>$1042</label>
        </div>
        </div>
        <div class="text-center saas-space">
            <button class="btn btn-primary saas-space">Save</button>
            <button class="btn btn-primary saas-space">Update</button>
            <button class="btn btn-primary saas-space">Delete</button>
            <button class="btn btn-primary saas-space">Print</button>
        </div>
    </div>
    
</div>