<div class="container-fluid saas-amargin">
    <div class="saas-left">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card saas-card">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Serving Table</li>
                      <li class="list-group-item" *ngIf="[dialogReturn]!=''" ><button class="btn btn-primary btn-rounded" disabled>{{ dialogReturn }}</button></li>
                      <li class="list-group-item">Table Order</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 text-right">
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-primary" (click)="open(content)">Add Table</button>
                    <button type="button" class="btn btn-secondary">Add Item</button>    
                    <button type="button" class="btn btn-warning">Change Table</button>    
                    <button type="button" class="btn btn-success">Change Refresh</button>    
                </div>
            </div>
       </div> 
       <div class="row no-gutters">
           <div class="card saas-cpad">
               <!-- <div class="card-header saas-cpad"> -->
                   <div class="row justify-content-between">
                   <div class="col-lg-3">
                    <input type="text" placeholder="Select Table" class="saas-sinput">
                   </div>
                   <div class="col-lg-3">
                    <input type="text" placeholder="Search by code" class="saas-sinput">
                   </div>
                   <div class="col-lg-4">
                    <input type="text" placeholder="Search by name" class="saas-sinput">
                   </div>
                </div>
                <!-- </div> -->
            </div>
       </div>
       <div class="saas-zleft">
           <div class="card">
            <div class="card-header">
              Menu
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Add Menu</li>
              <li class="list-group-item" *ngIf="[dialogReturn]!=''" ><button class="btn btn-primary btn-rounded" disabled>{{ dialogReturn }}</button></li>
              <li class="list-group-item">Table Order</li>
            </ul>
           </div>
       </div>
       <div class="saas-zright">
           <div class="card" style="background-color: aqua;">
            <div class="card-header">
              Sub Menu
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Serving Table</li>
              <li class="list-group-item" *ngIf="[dialogReturn]!=''" ><button class="btn btn-primary btn-rounded" disabled>{{ dialogReturn }}</button></li>
              <li class="list-group-item">Table Order</li>
            </ul>
           </div>
       </div>
    </div>
    <div class="saas-right">
    <div class="row no-gutters">
        <div class="card saas-bill-card">
            <div class="card-header saas-zpad">
                <div class="col saas-pad">
                    <div class="btn-group btn-block" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Dine In</button>
                        <button type="button" class="btn btn-secondary">Takeaway</button>
                        <button type="button" class="btn btn-secondary">Home Delivery</button>
                    </div>
                </div>
                <div class="col saas-pad">
                    <div class="btn-group btn-block" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">KOT</button>
                        <button type="button" class="btn btn-secondary">Billing</button>
                    </div>
                </div>
            <div class="input-group btn-block">
                <div class="input-group-prepend">
                  <span class="input-group-text btn-secondary" id="kotno">KOT</span>
                </div>
                <input type="text" class="form-control" placeholder="KOT No." aria-label="Username" aria-describedby="kotno">
                </div>
            </div> 
            <div class="card-body saas-zpad">
                <div class="saas-con">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Biryani FP</td>
                            <td>2</td>
                            <td>$4.1</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>butter chicken F</td>
                            <td>2</td>
                            <td>$2.50</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>rumali roti</td>
                            <td>6</td>
                            <td>$1.50</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <blockquote class="blockquote saas-pad">
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">customer name and Phone No.</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                            <input type="text" aria-label="Last name" class="form-control">
                          </div>    
                    </div>
                    <div>
                        <label for="dcustomer">Show on Bill</label>
                        <input type="checkbox" id="dcustomer">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Totel $</span>
                        </div>
                        <input type="text" class="form-control text-right" disabled value="8.1" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-danger">Send & Save</button>
                        <button type="button" class="btn btn-warning saas-amargin">Print & save</button>
                        <button type="button" class="btn btn-info">Save</button>
                    </div>
                </blockquote>
            </div>

        </div>
    </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Table</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label for="table">Table No.</label>
          <div class="input-group">
           <input type="number" placeholder="Ex: 1" id="table" class="btn btn-light" required #data (keyup)="0">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close(data.value)" >Add</button>
    </div>
  </ng-template>
  
  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
  
  <hr>
  
  <pre>{{ closeResult }}</pre>