<div class="container-fluid saas-amargin no-gutters">
    <div class="saas-left">
        <div class="row no-gutters">
            <div class="col-md-12 text-lift">
                <div class="card saas-card">
                    <ul class="list-group list-group-flush ">
                      <li class="list-group-item"><input type="text" class="form-control" placeholder="Add Table No. " (keyup.enter)="addTable(table)" onkeypress="return event.charCode>=40  && event.charCode<=57" #table></li>
                      <li class="list-group-item saas-size" ><button class="btn btn-primary btn-rounded" *ngFor="let table of tables.controls" (click)='selectTable()'>Table: {{ table.value }}</button></li>
                    </ul>
                </div>
            </div>
       </div> 
       <div class="row no-gutters">
           <div class="card saas-cpad">
            <div class="saas-amargin d-flex text-center justify-content-between">
              <button type="button" class="btn btn-primary" ngbTooltip="Customer" (click)="open(content, 'Table', 'ex: 1')">customer Details</button>
              <button type="button" class="btn btn-secondary" (click)="open(content, 'Item', 'ex: egg')">Add Item</button>    
              <button type="button" class="btn btn-warning">Add Menu</button>    
              <button type="button" class="btn btn-success">Refresh</button>    
            </div>
                   <div class="row d-flex justify-content-between">
                   <div class="col-lg-3">
                    <input type="text" placeholder="Select Menu" class="form-control">
                   </div>
                   <div class="col-lg-3">
                    <input type="text" placeholder="Search by code" class="form-control">
                   </div>
                   <div class="col-lg-4">
                    <input type="text" placeholder="Search by name" class="form-control">
                   </div>
                </div>
            </div>
       </div>
       <div class="saas-zleft">
           <div class="card">
            <div class="card-header btn btn-light d-flex justify-content-between" (click)="open(content, 'Menu','ex: egg fry')">
              Menu
              <i class='uil uil-file-plus-alt'></i>
            </div>
            <div class="card-body saas-zpad">
              <table class="table table-light table-striped table-bordered table-hover">
                <thead class="thead back">
                  <tr>
                    <th scope="col-lg-3">Non-veg</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of tableData">
                  <tr><th><li (click)="open(content, 'Menu','ex: egg fry')">{{item.itemType}}</li></th></tr>
                </tbody>
                <thead class="thead back">
                  <tr>
                    <th scope="col-lg-3">veg</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><th>paneer</th></tr>
                  <tr><th>Veg Mix</th></tr>
                  <tr><th>Beef</th></tr>
                  <tr><th>Mutton</th></tr>
                  <tr><th>Egg</th></tr>
                </tbody>
              </table>
            </div>
            <!-- <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngIf="[itemValue]!=''" (click)="open(content, 'Menu','ex: egg fry')">{{ itemValue }}</li>
              <li class="list-group-item">Table Order</li>
            </ul> -->
           </div>
       </div>
       <div class="saas-zright">
           <div class="card" style="background-color: aqua;">
            <div class="card-header">
              Sub Menu
            </div>
            <table class="table table-light table-striped table-bordered table-hover">
              <thead class="thead back">
                <tr>
                  <th scope="col-lg-3">Non-veg</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of tableData">
                <tr><th><li>{{item.itema}}</li></th></tr>
                <tr><th><li>{{item.itemb}}</li></th></tr>
                <tr><th><li>{{item.itemc}}</li></th></tr>
                <tr><th><li>{{item.iteme}}</li></th></tr>
                <tr><th><li>{{item.itemd}}</li></th></tr>
              </tbody>
            </table>
           </div>
       </div>
    </div>
    <div class="saas-right">
    <div class="row no-gutters">
        <div class="card saas-bill-card">
            <div class="card-header saas-zpad">
                <div class="col saas-pad">
                    <div class="btn-group btn-block" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Dine In</button>
                        <button type="button" class="btn btn-secondary">Takeaway</button>
                        <button type="button" class="btn btn-secondary">Home Delivery</button>
                    </div>
                </div>
                <div class="col saas-pad">
                    <div class="btn-group btn-block" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">KOT</button>
                        <button type="button" class="btn btn-secondary">Billing</button>
                    </div>
                </div>
            <div class="input-group btn-block">
                <div class="input-group-prepend">
                  <span class="input-group-text btn-secondary" id="kotno">KOT</span>
                </div>
                <input type="text" class="form-control" placeholder="KOT No." aria-label="Username" aria-describedby="kotno">
                </div>
            </div> 
            <div class="card-body saas-zpad">
                <div class="saas-con">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Biryani FP</td>
                            <td>2</td>
                            <td>$4.1</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>butter chicken F</td>
                            <td>2</td>
                            <td>$2.50</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>rumali roti</td>
                            <td>6</td>
                            <td>$1.50</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <blockquote class="blockquote saas-pad">
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">customer name and Phone No.</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                            <input type="text" aria-label="Last name" class="form-control" onkeypress="return event.charCode>=40  && event.charCode<=57">
                          </div>    
                    </div>
                    <div>
                        <label for="dcustomer">Show on Bill</label>
                        <input type="checkbox" id="dcustomer">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Totel $</span>
                        </div>
                        <input type="text" class="form-control text-right" disabled value="8.1" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-danger">Send & Save</button>
                        <button type="button" class="btn btn-warning saas-amargin">Print & save</button>
                        <button type="button" class="btn btn-info">Save</button>
                    </div>
                </blockquote>
            </div>

        </div>
    </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header saas-color">
      <h4 class="modal-title text-white" id="modal-basic-title">Customer Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
    <div class="modal-body col-lg-4">
      <input type="text" class="form-control" placeholder="Fast Name" #fName>
      <input type="text" class="form-control" placeholder="Last Name" #lName>
      <input type="text" class="form-control" placeholder="mobile" #mobile>
      <input type="text" class="form-control" placeholder="Email" #email>
      <div class="text-center">
        <button class="btn btn-primary" (click)='addNew(fName,lName,mobile,email)'>Add</button>
        <button class="btn btn-primary">Update</button>
      </div>
    </div>
    <div class="col-lg-7">
      <table class="table table-light table-striped table-bordered table-hover">
        <thead class="thead thead-dark">
          <tr>
            <th scope="col-lg-3">Sr No.</th>
            <th scope="col-lg-3">Fast Name</th>
            <th scope="col-lg-3">Last Name</th>
            <th scope="col-lg-3">Mobile</th>
            <th scope="col-lg-3">Email</th>
          </tr>
        </thead>
        <tbody *ngFor="let customer of customerData">
          <tr><th>{{ customer.srno }}</th>
          <th>{{ customer.fname }}</th>
          <th>{{ customer.lname }}</th>
          <th>{{ customer.mobile }}</th>
          <th>{{ customer.email }}</th></tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="modal-footer"></div>
    <div class="text-right saas-amargin">
      <button type="button" class="btn btn-danger btn-rounded" aria-label="Close" (click)="modal.dismiss('Close')">close</button>
    </div>
  </ng-template>
  
  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
  
  <hr>
  
  <!-- <pre>{{ closeResult }}</pre> -->