.saas-color {
    background-image: linear-gradient(#070335,white);
}

.saas-left {
    width: 60%;
    // line-height: 50vh;
    float: left;
}
.saas-zleft {
    width: 30%;
    // line-height: 50vh;
    float: left;
}
.saas-right {
    width: 40%;
    // line-height: 50vh;
    float: right;
}
.saas-zmargin{
    margin: 0px;
}
.saas-zright {
    width: 70%;
    // line-height: 50vh;
    float: right;
}
.saas-border{
    border: 1px solid black;
}
.saas-cpad{
    width: 90%;
    padding: 5px;
    background-color: transparent;
}
li {
    padding: 15px;
}
.saas-card {
    box-shadow:   -10px -10px 34px #c4c4c4;
    margin: .5%;
}
.saas-size{
    max-height: 100px;
    overflow: scroll;
}
.saas-input {
    width: 80px;
}
label{
    float: left;
}
.back {
    background-color: burlywood;
    color: white;
}
.saas-pad{
    padding-right: 0px;
    padding-left: 0px
}
.width {
    width: -moz-available;
}
// .saas-con {
//     height: 150px;
//     text-align: center;
// }
.saas-zpad{
    padding-top: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.saas-amargin {
    margin: .5%;
}
@media screen and (min-width:992px){
    .saas-left, .saas-right {
        width: 1fr;
    }
}
