<div class="container-fluid saas-amargin no-gutters">
    <div class="saas-left"> 
       <div class="row no-gutters">
           <div class="card saas-cpad">
            <div class="saas-amargin d-flex text-center justify-content-between">
              <button type="button" class="btn btn-primary" ngbTooltip="Customer" (click)="open(content)"><i data-feather="database"></i> Customer Details</button>
              <button type="button" class="btn btn-secondary"><i data-feather="x-octagon"></i> Cancel Bill</button>    
              <button type="button" class="btn btn-warning" (click)="openItem(newitem)"><i data-feather="file-plus"></i> Add Item</button>    
              <button type="button" class="btn btn-success" (click)="refreshPage()"><i data-feather="refresh-cw"></i> Refresh</button>    
            </div>
            </div>
       </div>
       <div class="card saas-btn">
         <div class="card-header text-center">
           <h3>Item Detail</h3>
         </div>
         <div class="card-body">
           <div class="row">
            <div class="col-lg-4">
              <label for="name">Item Name:</label>
              <input id="name" type="text" class="form-control" value="{{ dproduct }}"disabled>
              <label for="code">Item Code: </label>
              <input  class="form-control" type="text" id="code" value="{{ dcode }}"disabled>  
             </div>
             <div class="col-lg-4">
              <label for="qty">Item Qty:</label>
              <input id="qty" type="text" class="form-control" value="{{ dqty }}">
              <label for="price">Item Price: </label>
              <input  class="form-control" type="text" id="price" value="{{ dprice }}" disabled>  
             </div>  
           </div>
          </div>
       </div>
    </div>
    <div class="saas-right">
    <div class="row no-gutters">
        <div class="card saas-bill-card">
            <div class="card-header saas-zpad">
                <div class="col saas-pad">
                    <div class="btn-group btn-block" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">KOT</button>
                        <button type="button" class="btn btn-secondary">Billing</button>
                    </div>
                </div>
            <div class="input-group btn-block">
                <div class="input-group-prepend">
                  <span class="input-group-text btn-secondary" id="kotno">KOT</span>
                </div>
                <input type="text" class="form-control" placeholder="KOT No." aria-label="Username" aria-describedby="kotno">
                </div>
            </div> 
            <div class="card-body saas-zpad">
                <div class="saas-con">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let item of billing">
                          <tr (click)="getDetails(item)">
                            <th scope="row">{{ item.no }}</th>
                            <td>{{ item.product }}</td>
                            <td>{{ item.qty }}</td>
                            <td>${{ item.price }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <blockquote class="blockquote saas-pad">
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">customer name and Phone No.</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                            <input type="text" aria-label="Last name" class="form-control" onkeypress="return event.charCode>=40  && event.charCode<=57">
                          </div>    
                    </div>
                    <div>
                        <label for="dcustomer">Show on Bill</label>
                        <input type="checkbox" id="dcustomer">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Totel $</span>
                        </div>
                        <input type="text" class="form-control text-right" disabled value="8.1" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-danger">Send & Save</button>
                        <button type="button" class="btn btn-warning saas-amargin">Print & save</button>
                        <button type="button" class="btn btn-info">Save</button>
                    </div>
                </blockquote>
            </div>

        </div>
    </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header saas-color">
      <h4 class="modal-title text-white" id="modal-basic-title">Customer Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
    <div class="modal-body col-lg-4">
      <input type="text" class="form-control" placeholder="Fast Name" value="{{ fname }}" #fName>
      <input type="text" class="form-control" placeholder="Last Name " value="{{ lname }}" #lName>
      <input type="text" class="form-control" placeholder="mobile" value="{{ cMobile }}" #mobile>
      <input type="text" class="form-control" placeholder="Email " value="{{ cEmail }}" #email>
      <div class="text-right">
        <button class="btn btn-primary" (click)='addNew(fName,lName,mobile,email)'>Add</button>
        <button class="btn btn-primary">Update</button>
      </div>
    </div>
    <div class="col-lg-7 saas-scr">
      <table class="table table-light table-striped table-bordered table-hover">
        <thead class="thead thead-dark">
          <tr>
            <th scope="col-lg-3">Sr No.</th>
            <th scope="col-lg-3">Fast Name</th>
            <th scope="col-lg-3">Last Name</th>
            <th scope="col-lg-3">Mobile</th>
            <th scope="col-lg-3">Email</th>
          </tr>
        </thead>
        <tbody *ngFor="let customer of customerData">
          <tr (click)="getValue(customer)" #data><th>{{ customer.srno }}</th>
          <th>{{ customer.fname }}</th>
          <th>{{ customer.lname }}</th>
          <th>{{ customer.mobile }}</th>
          <th>{{ customer.email }}</th></tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="modal-footer"></div>
    <div class="text-right saas-amargin">
      <button type="button" class="btn btn-danger btn-rounded" aria-label="Close" (click)="modal.dismiss('Close')">close</button>
    </div>
  </ng-template>
  
  <ng-template #menu let-modal>
    <div class="modal-header">
      <h4 class="modal-title text-white" id="modal-basic-title">Customer Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
    <div class="modal-body col-lg-4">
      <input type="text" class="form-control" placeholder="Fast Name" value="{{ fname }}" #fName>
      <input type="text" class="form-control" placeholder="Last Name " value="{{ lname }}" #lName>
      <input type="text" class="form-control" placeholder="mobile" value="{{ cMobile }}" #mobile>
      <input type="text" class="form-control" placeholder="Email " value="{{ cEmail }}" #email>
      <div class="text-right">
        <button class="btn btn-primary" (click)='addNew(fName,lName,mobile,email)'>Add</button>
        <button class="btn btn-primary">Update</button>
      </div>
    </div>
    </div>
    <div class="modal-footer"></div>
    <div class="text-right saas-amargin">
      <button type="button" class="btn btn-danger btn-rounded" aria-label="Close" (click)="modal.dismiss('Close')">close</button>
    </div>
  </ng-template>
  <ng-template #newitem let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add New Item</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
    <div class="modal-body col-lg-4">
      <label for="code">Item Code</label>
      <input type="text" id="code" class="form-control" placeholder="Item Code" value="{{ iCode }}" #icode>
      <label for="name">Item Name</label>
      <input type="text" id="name" class="form-control" placeholder="Item Name" value="{{ iName }}" #iname>
      <label for="gname">Group Name</label>
      <input type="text" id="gname" class="form-control" placeholder="Group Name" value="{{ gName }}" #gname>
      <label for="vendor">Vendor</label>
      <input type="text" id="vendor" class="form-control" placeholder="Vendor" value="{{ iVendor }}" #vendor>
      <label for="pprice">Purchase Price</label>
      <input type="text" id="pprice" class="form-control" placeholder="Purchase Price" value="{{ pPrice }}" #pprice>
      <label for="unit">Item Unit</label>
      <input type="text" id="unit" class="form-control" placeholder="Item Unit" value="{{ iUnit }}" #unit>
      <label for="sprice">Sales Price</label>
      <input type="text" id="sprice" class="form-control" placeholder="Sales Price" value="{{ sPrice }}" #sprice>
      <label for="Shelf">Shelf No.</label>
      <input type="text" id="Shelf" class="form-control" placeholder="Shelf No." value="{{ iShelf }}" #shelf>
      <div class="text-right">
        <button class="btn btn-primary" (click)='addItem(icode,iname,gname,vendor,pprice,unit,sprice,shelf)'>Add</button>
        <button class="btn btn-primary">Update</button>
      </div>
    </div>
    <div class="col-lg-7">
      <table class="table table-light table-striped table-bordered table-hover">
        <thead class="thead thead-dark">
          <tr>
            <th scope="col-lg-3">Item Code</th>
            <th scope="col-lg-3">Item Name</th>
            <th scope="col-lg-3">Group Name</th>
            <th scope="col-lg-3">Vendor</th>
            <th scope="col-lg-3">Purchase Price</th>
            <th scope="col-lg-3">Item Unit</th>
            <th scope="col-lg-3">Sales Price</th>
            <th scope="col-lg-3">Shelf No.</th>
          </tr>
        </thead>
        <tbody *ngFor="let product of products">
          <tr (click)="getItemD(product)">
            <th>{{ product.ICode }}</th>
            <th>{{ product.IName }}</th>
            <th>{{ product.GName }}</th>
            <th>{{ product.vendor }}</th>
            <th>{{ product.pPrice }}</th>
            <th>{{ product.IUnit }}</th>
            <th>{{ product.sPrice }}</th>
            <th>{{ product.shelf }}</th>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="modal-footer"></div>
    <div class="text-right saas-amargin">
      <button type="button" class="btn btn-danger btn-rounded" aria-label="Close" (click)="modal.dismiss('Close')">close</button>
    </div>
  </ng-template>

  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
  
  <hr>
  
  <!-- <pre>{{ closeResult }}</pre> -->