
.saas-left {
    width: 60%;
    // line-height: 50vh;
    float: left;
}
.saas-zleft {
    width: 30%;
    // line-height: 50vh;
    float: left;
}
.saas-right {
    width: 40%;
    // line-height: 50vh;
    float: right;
}
.saas-zmargin{
    margin: 0px;
}
.saas-zright {
    width: 70%;
    // line-height: 50vh;
    float: right;
}
.saas-sinput{
    border-radius:32px;
    border:1px solid #ccc!important;
    padding:8px;
    // display:block;
    border:none;
    border-bottom:1px solid #ccc;
}
.saas-cpad{
    width: 90%;
    padding: 5px;
    background-color: transparent;
}
li {
    padding: 15px;
}
.saas-card {
    box-shadow:   35px 35px 34px #c4c4c4,-15px -15px 34px #c4c4c4
}
// .saas-bill-card {
//     width: 100%;
//     height: 100%;
// }
.saas-input {
    width: 80px;
}
label{
    float: left;
}
.back {
    background-color: blue;
    color: white;
}
.saas-pad{
    padding-right: 0px;
    padding-left: 0px
}
.width {
    width: -moz-available;
}
// .saas-con {
//     height: 150px;
//     text-align: center;
// }
.saas-zpad{
    padding-top: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.saas-amargin {
    margin: 1%;
}
@media screen and (min-width:992px){
    .saas-left, .saas-right {
        width: 1fr;
    }
}