<div id="wrapper">

    <app-topbar (settingsButtonClicked)="onSettingsButtonClicked()" (mobileMenuButtonClicked)="onToggleMobileMenu()">
    </app-topbar>

    <app-leftsidebar *ngIf="topBar.isAdmin" [sidebarType]="sidebarType"></app-leftsidebar>

    <div class="p-0" [class.dark-mcard]='topBar.selectedTheme' [class.content-page]='topBar.isAdmin' [class.content-full-page]='!topBar.isAdmin'>
        <!-- <div class="content fixHeight" appSlimScroll> -->
            <!-- content -->
            <router-outlet></router-outlet>
        <!-- </div> -->

        <!-- footer -->
        <app-footer></app-footer>
    </div>
</div>
